<form (ngSubmit)='myForm.valid && onSubmit()' #myForm="ngForm">
  <div>
    <label for="firstname">Prénom</label>
    <input name="firstname" type="text" [(ngModel)]='model.firstname' #firstname="ngModel" required minlength="3" maxlength="15">

    <div *ngIf="myForm.submitted && firstname.errors">
      <span *ngIf="firstname.errors['required']">Le prénom est requis</span>
      <span *ngIf="firstname.errors['minlength']">Le prénom doit comporter au moins 3 caractères</span>
      <span *ngIf="firstname.errors['maxlength']">Le prénom ne doit pas dépasser 15 caractères</span>
    </div>
  </div>

  <div>
    <label for="lastname">Nom</label>
    <input name="lastname" type="text" [(ngModel)]='model.lastname' #lastname='ngModel' required minlength="3" maxlength="15">

    <div *ngIf="myForm.submitted && lastname.errors">
      <span *ngIf="lastname.errors['required']">Le nom est requis</span>
      <span *ngIf="lastname.errors['minlength']">Le nom doit comporter au moins 3 caractères</span>
      <span *ngIf="lastname.errors['maxlength']">Le nom ne doit pas dépasser 15 caractères</span>
    </div>
  </div>

  <div>
    <label for="email">Email</label>
    <input name="email" type="email" [(ngModel)]='model.email' #email='ngModel'required email>

    <div *ngIf="myForm.submitted && email.errors">
      <span *ngIf="email.errors['required']">L'email est requis</span>
      <span *ngIf="email.errors['email']">L’email est invalide</span>
    </div>


  </div>
  <div>
    <label for="password">Mot de passe</label>
    <input name="password" type="password" [(ngModel)]='model.password'>
  </div>
  <button type="submit">Inscription</button>
</form>
